body {
    background-color: #393E46;
    color: #F7F7F7;
    text-shadow: #000000 1px 1px 3px;
}
.head {
    font-size: xx-large;
    color: #6D9886;
    text-shadow: #000000 1px 1px 3px;
    font-family: 'Big Shoulders Text', cursive;
}

.textbox {
    padding: 10px;
    background-color: #F2E7D5;
    color: #000000;
    border-radius: 8px;
    box-shadow: 1px 1px 3px;
    text-shadow: #6D9886 1px 1px 3px;
    margin: 10px;
    width: 50%;
}

.evil {
    color: red;
    box-shadow: 1px 1px 3px black;
    text-align: end;
}