body {
  background-color: #393e46;
  color: #f7f7f7;
  text-shadow: #000000 1px 1px 3px;
  margin: 0;
}
.head {
  margin: 20px 0px 0px 20px;
  font-size: 3rem;
  color: #6d9886;
  text-shadow: 1px 1px 0px #000000, 2px 2px 0px #000000, 3px 3px 0px #000000,
    4px 4px 0px #000000;
  font-family: "Big Shoulders Text", cursive;
  max-width: fit-content;

  animation-duration: 1s;
  animation-name: anim-head;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes anim-head {
  from {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(5deg);
  }
}

.textbox {
  padding: 10px;
  background-color: #f2e7d5;
  color: #000000;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(151, 141, 141);
  text-shadow: #6d9886 1px 1px 3px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  transform: rotate(-0.5deg);
}

.evil {
  color: red;
  text-align: right;
  transform: rotate(0.5deg);
}
